# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Project1/FileContentIndex/2cf04815-e223-4b02-8df8-f846a02f98bc.vsidx
/.vs/Project1/FileContentIndex/55cc5b2b-2f5e-4b89-a5ca-7dd9630582e8.vsidx
/.vs/Project1/FileContentIndex
